.relato {
    display: flex;
    align-items: center;
    align-self: center;
    padding: 4em 2em 6em 2em;
}

.container__relato {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    border: 1px solid var(--relato-background);
    background: var(--relato-background);
    padding: 5em 7em;
    margin: 0 5em;
    border-radius: 16px;
}

.subtitulo__terciario {
    text-align: center;
    font-weight: 500;
    font-size: 36px;
    color: var(--preto-subt);
    padding: 1em 0;
}

.imagem__icone {
    width: 56px;
    height: 56px;
    padding-bottom: 0.8em;
}

.nome__usuario {
    font-weight: 500;
    font-size: 16px;
    color: var(--preto-subtítulo);
    padding: 0.7em 0;
}

.profissao__usuario {
    font-weight: 400;
    font-size: 14px;
    color: var(--cinza-subtítulo);
}